@* --------------------------------------------------------------------*@
@* Warning! This is an auto generated file. Changes may be overwritten *@
@* --------------------------------------------------------------------*@
@using Localization
@inject LocService SharedLocalizer
@model IEnumerable<GroupToSection.Web.ViewModel.MigrationViewModel>

@{
    ViewData["Title"] = @$"{SharedLocalizer.GetLocalizedHtmlString("List")} {SharedLocalizer.GetLocalizedHtmlString("Migration")}";
}

<table class="table data-table">
    <thead>
        <tr>
            <th>
                @SharedLocalizer.GetLocalizedHtmlString("ClientVersion")
            </th>
            <th>
                @SharedLocalizer.GetLocalizedHtmlString("DatabaseVersion")
            </th>
            <th>
                @SharedLocalizer.GetLocalizedHtmlString("CreatedOn")
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td class="tooltip-r" data-toggle="tooltip" data-placement="left" title="@item.ClientVersion">
                @item.ClientVersion
            </td>
            <td class="tooltip-r" data-toggle="tooltip" data-placement="left" title="@item.DatabaseVersion">
                @item.DatabaseVersion
            </td>
            <td class="tooltip-r" data-toggle="tooltip" data-placement="left" title="@item.CreatedOn">
                @item.CreatedOn
            </td>
        </tr>
}
    </tbody>
</table>
