@* --------------------------------------------------------------------*@
@* Warning! This is an auto generated file. Changes may be overwritten *@
@* --------------------------------------------------------------------*@
@using Localization
@using Microsoft.Extensions.Options
@inject LocService SharedLocalizer
@model GroupToSection.Web.ViewModel.GroupCategoryViewModel

@{
    ViewData["Title"] = @$"{SharedLocalizer.GetLocalizedHtmlString("Create")} {SharedLocalizer.GetLocalizedHtmlString("GroupCategory")}";
}

<h1>@($"{SharedLocalizer.GetLocalizedHtmlString("Create")} {@SharedLocalizer.GetLocalizedHtmlString("GroupCategory")}")</h1>

<hr />
<div class="row">
    <div class="col-md">
        <form method="post"  enctype="multipart/form-data" asp-controller="GroupCategory" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Created_at" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("Created_at")</label>
                <input name="Created_at" asp-for="Created_at" class="form-control" />
                <span asp-validation-for="Created_at" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course_Id" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("Course_Id")</label>
                <input name="Course_Id" asp-for="Course_Id" class="form-control" />
                <span asp-validation-for="Course_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sis_GroupCategory_Id" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("Sis_GroupCategory_Id")</label>
                <input name="Sis_GroupCategory_Id" asp-for="Sis_GroupCategory_Id" class="form-control" />
                <span asp-validation-for="Sis_GroupCategory_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sis_Import_Id" class="control-label">@SharedLocalizer.GetLocalizedHtmlString("Sis_Import_Id")</label>
                <input name="Sis_Import_Id" asp-for="Sis_Import_Id" class="form-control" />
                <span asp-validation-for="Sis_Import_Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer.GetLocalizedHtmlString("Create")" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="GroupCategory" asp-action="Index">@SharedLocalizer.GetLocalizedHtmlString("Back to List")</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
