@* --------------------------------------------------------------------*@
@* Warning! This is an auto generated file. Changes may be overwritten *@
@* --------------------------------------------------------------------*@
@using Localization
@inject LocService SharedLocalizer
@model IEnumerable<GroupToSection.Web.ViewModel.GroupCategoryViewModel>

@{
    ViewData["Title"] = @$"{SharedLocalizer.GetLocalizedHtmlString("List")} {SharedLocalizer.GetLocalizedHtmlString("GroupCategory")}";
}

<h1>@SharedLocalizer.GetLocalizedHtmlString("GroupCategory")</h1>

<a asp-controller="GroupCategory" asp-action="Create">
    <button type="button" class="btn btn-info btn-lg"><span class="bi bi-plus-circle"></span>@SharedLocalizer.GetLocalizedHtmlString("Create New")</button>
</a>
<hr />
<table class="table data-table">
    <thead>
        <tr>
            <th>
                @SharedLocalizer.GetLocalizedHtmlString("Created_at")
            </th>
            <th>
                @SharedLocalizer.GetLocalizedHtmlString("Course_Id")
            </th>
            <th>
                @SharedLocalizer.GetLocalizedHtmlString("Sis_GroupCategory_Id")
            </th>
            <th>
                @SharedLocalizer.GetLocalizedHtmlString("Sis_Import_Id")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td class="tooltip-r" data-toggle="tooltip" data-placement="left" title="@item.Created_at">
                @item.Created_at
            </td>
            <td class="tooltip-r" data-toggle="tooltip" data-placement="left" title="@item.Course_Id">
                @item.Course_Id
            </td>
            <td class="tooltip-r" data-toggle="tooltip" data-placement="left" title="@item.Sis_GroupCategory_Id">
                @item.Sis_GroupCategory_Id
            </td>
            <td class="tooltip-r" data-toggle="tooltip" data-placement="left" title="@item.Sis_Import_Id">
                @item.Sis_Import_Id
            </td>
  
            <td>
                <a asp-controller="GroupCategory" asp-action="Edit" asp-route-id="@item.Id">@SharedLocalizer.GetLocalizedHtmlString("Edit")</a> | 
                <a asp-controller="GroupCategory" asp-action="Remove" asp-route-id="@item.Id">@SharedLocalizer.GetLocalizedHtmlString("Delete")</a> 
            </td>
        </tr>
}
    </tbody>
</table>
